/*Still needs tweeking, might not want the main scroll bar to disapear?*/
::-webkit-scrollbar {
    display: none;
}

.borderless td {
    border-top: none !important;
}

#fixed-table .table-condensed {
    height: 140px;
}
